
# No mostrar listado de carpetas
IndexIgnore *

# 
Options +FollowSymLinks

# 
Options -Indexes

# Para que no salga la versión actual de Apache

ServerSignature Off

# Denegar el acceso al archivo .htaccess

<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>

# Denegar el acceso a cualquier archivo con dichas extensiones

<Files ~ "\.(env|md|gitignore|gitattributes|lock)$">
  Order allow,deny
  Deny from all
</Files>

<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

 # Urls amigables API
  RewriteRule ^api/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([0-9]+)$ index.php?api=api&controller=$1&action=$2&id=$3 [L]
  RewriteRule ^api/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?api=api&controller=$1&action=$2 [L,QSA]

  # Urls amigables
  RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([0-9]+)$ index.php?controller=$1&action=$2&id=$3 [L]
  RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2 [L,QSA]
  RewriteRule ^([a-zA-Z0-9]+)$ index.php?controller=$1 [L,QSA]
 
</IfModule>
